/* 
Arquivo de CSS(Cascade Style Sheet - Folha de Estilo em Cascata 
é utilizado para fazer a camada de formatação de 
um site em html.
*/
/* 
Vamos Formatar todos elementos presentes em uma página 
html usando o *(asterisco)e aplicar margem externa e interna 
zero(0) e realizar o ajuste das caixas em html
*/

* {
  margin: 0px; /*Margem Externa das Caixas*/
  padding: 0px; /*Margem Interna das Caixas*/
  /*Ajuste de Padding das Caixas Sem a soma com a Largura*/
  box-sizing: border-box;
}

header {
  height: 300px; /*aplicar a altura ao cabeçalho*/
  /*aplicar imagem de fundo ao cabecalho*/
  background-image: url("../img/fundo4.jpg");
  /*ajustar o tamanho da imagem de fundo*/
  background-size: 100%;
  /*alterar a posição vertical da imagem*/
  background-position-y: -515px;
  padding: 130px;
  text-align: center;
}

h1 {
  font-family: verdana;
  font-size: 40pt;
  color: white;
  /*vamos aplocar uma sombra:
   -Primeiro elemento é a posição horizontal da sombra;
   -Segundo elemento é a posição vertical da sombra;
   -Terceiro elemento é o efeito de esfumaçado da sombra;
   -Quarto elemento é a cor 
   */
  text-shadow: 2px 2px 5px black;
}

/*Vamos fazer a formatação da barra de navegação da nav */
nav {
  background-color: black;
  padding: 10px;
  text-align: center;
}
nav ul li {
  /*dispor os elementos em linha*/
  display: inline-block;
  /*espaço entre os links*/
  margin: 5px;
}
nav ul li a {
  color: white;
  font-family: verdana;
  /*tirar o sublinhado*/
  text-decoration: none;
}

main {
  padding: 20px;
}
footer {
  background-color: black;
  /* Permitir com que o rodapé fique com seu 
  conteúdo flexível */
  display: flex;
  /* Dispor o conteúdo em linha */
  flex-direction: row;
  /* Ajustar o conteúdo ao centro com Justify-Content e Align-intens */
  justify-content: center;
  align-items: center;
  height: 140px;
}

#endereco {
  font-family: verdana;
  /* font-family font, tipo de font */
  font-size: 12pt;
  /* font-size: tamanho da font; */
  color: white;
  /* color: cor da font */
  width: 300px;
  text-align: center;
}

#redes {
  position: absolute;
  right: 50px;
}

#redes ul {
  /* Retirar as bolinhas de marcação */
  list-style: none;
}

/* Vamos dispor a imagens das redes
em linha com display inline-block */
#redes ul li {
  display: inline-block;
  margin: 10px;
}
#redes ul li a img {
  width: 40px;
  height: 40px;
}
/* ============== Início da formatação css para o home =========== */
h2 {
  font-family: verdana;
  font-size: 20pt;
  border-bottom: 1px dashed darkred;
  margin: 50px;
}
main p {
  margin: 10px;
  width: 80%;
  /* Para alinhar um objeto ao centro, você pode usar
  margin-left e margin-right auto para os dois */
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: "Lucida Sans";
  font-size: 12pt;
  /* Espaçamento entre linhas om o comando line-height */
  line-height: 30px;
}

/* ============== Fim da home =========== */

#imghome {
  text-align: center;
}

#imghome img {
  width: 400px; /*largura da imagem*/
  height: 400px; /*altura da imagem*/
  /* arredondar os cantos da imagem */
  border-radius: 250px;
  opacity: 0.7; /*colocar a imagem em 70% de opacidade*/
  margin: 20px;
  /* Efeito de transição. Isso fará com que a imagem tenha
  uma animação quando passar o mouse sobre ela */
  transition: ease 1s;
}
#imghome img:hover {
  opacity: 1;
  /* width: 500px;
  height: 500px; */
  transform: scale(1.2);
  /*transform: rotate(360deg); /*girar a imagem em 360graus*/
}
/* ================= Início do estilos da página historia================= */

#imghistoria {
  /* centralizar o conteúdo desta div */
  text-align: center;
  /* alterar a largura da caixa imgs */
  width: 90%;
  /* Centralizar a div que contém as 
imagens */
  margin-left: auto;
  margin-right: auto;
}
/* Vamos formatar o tamanho das imagens que
estão dentro da caixa imghistoria */

#imghistoria img {
  width: 200px;
  height: 200px;
  margin: 5px;
}
#videohistoria {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#videohistoria iframe {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ================= fim da pagina história================= */

/* =============Início dos estilos para o cardápio========== */
h3 {
  /*Converter as letras para maiúsculas  */
  text-transform: uppercase; /*Uppercase->Letras Maiúsculas*/
  font-size: 20pt;
  font-family: verdana;
  color: rgb(61, 27, 27);
  margin: 30px;
}
#linha {
  display: flex;
  flex-direction: row;
  /* Realizar a quebra de linha para os de mais 
  produtos que foram adicionados */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#linha #produto {
  width: 40%;
  margin: 10px;
  /* Determinar que o conteúdo do produto será
  flexível */
  display: flex;
}

#linha #produto #imgprod,
#linha #produto #descricao {
  width: 48%;
  margin: 10px;
  transition: ease 0.5s;
}

#linha #produto #imgprod img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

h4 {
  font-family: verdana;
  font-size: 20pt;
  margin: 7px;
}
h5 {
  font-family: "Lucidas Sans";
  font-weight: lighter; /*Retirar o negrito*/
  font-size: 11pt;
  margin: 7px;
}
h6 {
  font-family: "Lucida Sans";
  color: red;
  font-size: 15pt;
  margin: 7px;
}
#linha #produto:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* ================= fim da pagina cardápio================= */

/* =================Início do estilo do Mapa================ */

#mapa {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#mapa iframe {
  width: 100%;
  height: 500px;
}
h2 {
  font-family: verdana;
  color: black;
  font-size: 15pt;
}

/* ==================Fim do estilo do Mapa================== */
