/* 
Arquivo de CSS(Cascade Style Sheet - Folha de Estilo em Cascata 
é utilizado para fazer a camada de formatação de 
um site em html.
*/
/* 
Vamos Formatar todos elementos presentes em uma página 
html usando o *(asterisco)e aplicar margem externa e interna 
zero(0) e realizar o ajuste das caixas em html
*/

* {
  margin: 0px; /*Margem Externa das Caixas*/
  padding: 0px; /*Margem Interna das Caixas*/
  /*Ajuste de Padding das Caixas Sem a soma com a Largura*/
  box-sizing: border-box;
}

header {
  height: 300px; /*aplicar a altura ao cabeçalho*/
  /*aplicar imagem de fundo ao cabecalho*/
  background-image: url("../img/fundo4.jpg");
  /*ajustar o tamanho da imagem de fundo*/
  background-size: 100%;
  /*alterar a posição vertical da imagem*/
  background-position-y: -515px;
  padding: 130px;
  text-align: center;
}

h1 {
  font-family: verdana;
  font-size: 40pt;
  color: white;
  /*vamos aplocar uma sombra:
   -Primeiro elemento é a posição horizontal da sombra;
   -Segundo elemento é a posição vertical da sombra;
   -Terceiro elemento é o efeito de esfumaçado da sombra;
   -Quarto elemento é a cor 
   */
  text-shadow: 2px 2px 5px black;
}

/*Vamos fazer a formatação da barra de navegação da nav */
nav {
  background-color: black;
  padding: 10px;
  text-align: center;
}
nav ul li {
  /*dispor os elementos em linha*/
  display: inline-block;
  /*espaço entre os links*/
  margin: 5px;
}
nav ul li a {
  color: white;
  font-family: verdana;
  /*tirar o sublinhado*/
  text-decoration: none;
}

main {
  padding: 20px;
}
footer {
  background-color: black;
  /* Permitir com que o rodapé fique com seu 
  conteúdo flexível */
  display: flex;
  /* Dispor o conteúdo em linha */
  flex-direction: row;
  /* Ajustar o conteúdo ao centro com Justify-Content e Align-intens */
  justify-content: center;
  align-items: center;
  height: 140px;
}

#endereco {
  font-family: verdana;
  /* font-family font, tipo de font */
  font-size: 12pt;
  /* font-size: tamanho da font; */
  color: white;
  /* color: cor da font */
  width: 300px;
  text-align: center;
}

#redes {
  position: absolute;
  right: 50px;
}

#redes ul {
  /* Retirar as bolinhas de marcação */
  list-style: none;
}

/* Vamos dispor a imagens das redes
em linha com display inline-block */
#redes ul li {
  display: inline-block;
  margin: 10px;
}
#redes ul li a img {
  width: 40px;
  height: 40px;
}
